body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke-width: 1;
  stroke: #000;
  shape-rendering: crispEdges;
}


.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.area {
    fill: lightsteelblue;
    stroke-width: 0;
}
